[submodule "circuits/hash-circuits"]
	path = circuits/hash-circuits
	url = https://github.com/bkomuves/hash-circuits/
[submodule "circuits/sha256-var-module"]
	path = circuits/sha256-var-module
	url = https://github.com/crema-labs/sha256-var-circom
